
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
body {
  background-color: black;
}
.navbar a {
font-family: 'Bungee Shade', cursive;
 }
nav {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding: 50px 0;
  background-color: black;
  opacity: 100%;
}
.navbarname {
 font-size:50px;
  font-family: 'Bungee Shade', cursive;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li,
nav ul li :after,
nav ul li :before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: 
}

/* SHIFT */
nav.shift ul li {
  position: relative;
  z-index: 1;
}
nav.shift ul li :hover {
}
nav.shift ul li :after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #a0b3bc;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li :hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
  
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    border-radius: 100%;
  }
  100% {
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color:
  color: 
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  
}
 
  .centernav{
      text-align: center;
  }

@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

.explore{
  margin-top: 80px;
  font-size: 100px;
     font-family: 'Bungee Shade', cursive;

}
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}

#section01 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg01.jpg) center center / cover no-repeat;}
#section02 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg02.jpg) center center / cover no-repeat;}
#section03 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg03.jpg) center center / cover no-repeat;}
#section04 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg04.jpg) center center / cover no-repeat;}
#section05 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg05.jpg) center center / cover no-repeat;}
#section06 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg06.jpg) center center / cover no-repeat;}
#section07 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg07.jpg) center center / cover no-repeat;}
#section08 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg08.jpg) center center / cover no-repeat;}
#section09 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg09.jpg) center center / cover no-repeat;}
#section10 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg10.jpg) center center / cover no-repeat;}

#thanks {
  background-color: #fff;
}
#thanks::after {
  content: none;
}
#thanks div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#thanks h2 {
  margin-bottom: 60px;
  color: #333;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}
#thanks p {
  color: #333;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
}
#thanks p a {
  color: #333;
  text-decoration: none;
  transition: color .3s;
}
#thanks p a:hover {
  color: #888;
}
.demo a {
  
  margin-top: 100px;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}



#section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.jumbotron{
  margin-top: 500px;
     font-family: 'Oswald', sans-serif;
  width: 99.3%;
}
.jumbotop{
   font-family: 'Bungee Shade', cursive;

}
.card-title{
     font-size: 80px;
font-family: 'Bungee Shade', cursive;

}
.download1{
  font-size: 40px; 
    font-family: 'Oswald', sans-serif;
}

.contact{
  font-size: 24px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: white;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}



.img1{
 margin-left: 230px;
}

.img2{
margin-left: 680px;
}

*{
  margin: 0;
  padding: 0;
    font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}



.skills{
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  color: #f1f1f1;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar{
  height: 14px;
  background: #282828;
  border-radius: 3px;
}

.skill-per{
  height: 14px;
    background: linear-gradient(to right, rgba(0,179,255,0.5), rgba(0,23,117,0.5));
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #f1f1f1;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
 
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f1f1f1;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 80px;
  text-align:center;
  margin-bottom: 100px;
}
.waviy span {
font-family: 'Bungee Shade', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1.5s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
*, *::before, *::after {
	 box-sizing: border-box;
}
 .about {
   text-align: center;
   font-size: 60px;
   margin-bottom: 50px;
   font-family: 'Bungee Shade', cursive;

 }


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}



.stars, .twinkling, .clouds {
  position:fixed;
  top:0;
  left:0%;
  right:0%;
  bottom:0%;
  width:100%;
  height:100%;
  overflow-y:scroll;
  overflow-x:hidden;
}

.stars {
  background:#000 url('img/stars.png');
  height: 500%;
  z-index:0;
}

.twinkling{
  background:transparent url(img/twinkling.png) repeat top center;
  z-index:1;
  animation:move-twink-back 200s linear infinite;
}

.flip-card {
  background-color: transparent;
  width: 1200px;
  height: 600px;
  perspective: 1000px;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  
}

.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.flipcard1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 50px;
}
.purpose1{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.hovertext1 {
  font-size: 20px;
}

.css-button-neumorphic {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #efefef;
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  color: #585858;
}
.css-button-neumorphic:active {
  box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}

.css-button-neumorphic1 {
  min-width: 250px;
  height: 80px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  .css-button-neumorphic1:active {
  box-shadow: inset 1px 1px 3px #e5e8f1, inset -1px -1px 3px #fff;
}

.imageCarousel {
  height: 500px;
}
